.navbar{
    background-color : grey;
    .navbar_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user_menu{
            display: flex;
            align-items: center;
            gap: 20px;
            button{
                border-radius: 4px;
                padding: 4px 14px;
                font-weight: 400;
            }
            .dashboard{
                background-color: blue;
            }
            .logout{
                background-color: blue;
            }
        }
    }
}